.topnav {
  background-color: transparent;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "poppins" , sans-serif;
  margin-left: 50px;
  margin-top: 10px;
}


.topnav a:hover {
  color: black;
}


.topnav a.active {
  color: black;
}

.unserbier {
  margin-right: 40px;
}

.events {
  margin-right: 360px;
}

.ueberuns {
  margin-right: 40px;
}

.kontakt {
  margin-left: 30px;
}

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.keyvisual {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.bg-img {
  background-image: url("img/Keyvisual.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 380px;
  height: 720px;
  width: 100%;
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
  height: 100%;
}
