@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

/* NAV */
#icon {
  width: 55px;
  background: transparent;
  padding-left: 20px;
  padding: 10px;
}

.topnav {
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-top: 0px;
  width: 100%;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 25px;
  font-family: "poppins", sans-serif;
  margin-top: 5px;
}

.container-navbar {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

nav ul {
  margin-left: auto;
  margin-right: auto;
}

.topnav a:hover {
  color: #6EB1E2;
}

.topnav a.active {
  color: #6EB1E2;
}

.topnav .nav-item:nth-child(2),
.topnav .nav-item:nth-child(3) {
  order: -1;
}

.navbar-nav {
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.logo-image img {
  display: block;
  max-width: calc(3rem + 4vw);
}

ul {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

nav ul li {
  display: block;
}

a:hover, a:active {
  background: none;
  color: #0082e6;
}

/* NAV ENDE */
/* BODY */
body, html {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.bg-img {
  background-image: url("img/keyvisual.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  background-attachment: fixed;
}

.abstand {
  margin-top: 80px;
  margin-bottom: 80px;
}

a {
  color: white;
}

/*BODY ENDE*/
/*INHALTSSTOFFE*/
.bg-inhaltsstoffe {
  background-color: #E5EBED;
  padding-top: 20px;
  padding-bottom: 20px;
}

.inhaltsstoffe-text {
  font-size: calc(1.5rem + 1vw);
  font-family: "poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: circle;
}

.inhaltsstoffe-image img {
  height: 100%;
  position: absolute;
  object-fit: cover;
}

/*INHALTSSTOFFE ENDE*/
.blue-text {
  color: #6EB1E2;
}

h1 {
  font-family: "poppins", sans-serif;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-style: italic;
  text-align: center;
}

.ueberuns {
  font-size: 27px;
}

.abstand-carousel {
  margin-bottom: 0px;
  margin-top: 80px;
  background-color: #e5ebed;
}

/*GEWINNSPIEL*/
.gewinn {
  text-align: center;
  background-color: #E5EBED;
  padding-top: 30px;
  padding-bottom: 70px;
}

.form-control-lg {
  width: 70%;
}

.btn-primary {
  background-color: #6EB1E2;
  border: none;
  height: 48px;
  width: 70px;
  border-radius: 5px;
  font-size: 20px;
}

.einlösen {
  width: 100px;
  height: 50px;
  font-size: 20px;
}

.schließen {
  width: 100px;
  height: 50px;
  font-size: 20px;
}

/* GEWINNSPIEL ENDE*/
.text {
  text-align: center;
  font-size: 25px;
}

.gewinn-text {
  color: #6EB1E2;
}

/*RESPONSIVE*/
@media screen and (min-width:920px) {
  .inhaltsstoffe {
    position: relative;
  }

  .inhaltsstoffe-image img {
    position: relative;
    object-fit: cover;
    object-position: center;
    padding-right: 0;
    width: 100%;
  }

  .inhaltsstoffe-image {
    max-width: 100%;
    width: 100%;
    flex: 1 1 100%;
  }

  .inhaltsstoffe-text {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    list-style-type: none;
  }

  .inhaltsstoffe-text>li {
    position: absolute;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 769px) {
  .hidden-burger {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .hidden-mobile {
    display: none;
  }

  .blue-text {
    font-size: 35px;
  }

  .inhaltsstoffe-text {
    font-size: 20px;
  }

  .gewinn-text {
    font-size: 25px;
  }

  .ueberuns {
    font-size: 17px;
  }
}

@media screen and (max-width: 1200px) {
  .ueberuns {
    display: inline-block;
  }
}

/*RESPONSIVE ENDE*/
/*FOOTER*/
.footer a:hover {
  color: #6EB1E2;
}

.footer {
  background-color: #464D4F;
  padding: 0px;
}

/*FOOTER ENDE*/
