.topnav {
  background-color: #6EB1E2;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: "poppins" , sans-serif;
  margin-left: 50px;
  margin-top: 10px;
}


.topnav a:hover {
  color: black;
}


.topnav a.active {
  color: black;
}

.unserbier {
  margin-right: 70px;
}

.events {
  margin-right: 400px;
}

.ueberuns {
  margin-right: 70px;
}

.kontakt {
  margin-left: 30px;
}

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.keyvisual {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.bg-img {
  background-image: url("img/Keyvisual.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 380px;
  height: 960px;
}

.container-fluid {
  position: absolute;
  margin: 0px;
  padding: 0;
  width: 100%;
  height: 100%;
}

.bottom-left {
  position: absolute;
  bottom: 100px;
  left: 80px;
  font-family: "poppins" , sans-serif;
  font-size: 60px;
  color: white;

}

.bottom-right {
  position: absolute;
  bottom: 100px;
  right: 80px;
  font-family: "poppins" , sans-serif;
  font-size: 60px;
  color: white;
}

.blue-text {
  color: #6EB1E2;
}

h1 {
  font-family: "poppins" , sans-serif;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-style: italic;
  text-align: center;
}
